<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="server" value="HENRY-PC\SQL2014" />
    <add key="usuario" value="sa" />
    <add key="dataBase" value="Tarjeta" />
    <add key="password" value="TicDes2015" />
    <add key="dialect" value="NHibernate.Dialect.MsSql2008Dialect" />
    <add key="showSql" value="false" />
    <add key="generateStatistics" value="false" />
    <add key="command_timeout" value="1000" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>